<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/home.css">
    <title>Wate Management | Home</title>
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href="home.html">Waste Management</a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contat</a></li>
                    <li><a href="/src/templates/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <footer>
        <p>All rights reserved ©2023</p>
    </footer>
</body>
</html>