<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Welcome to Alx | Waste Collection. We provide professional waste management services to help protect the environment. Contact us for reliable waste collection and disposal solutions.">
        <meta name="keywords" content="Alx, Waste Collection, waste management, waste disposal, environment">
        <meta name="author" content="Ahortu Derrick, Bioh Priscilla">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Alx | Waste Collection{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Navigation bar -->
        <nav>
            <ul class="nav-links" id="navLinks">
                <li><a href="#" class="brand">Alx | Waste Collection</a></li>
                <li><a href="home" id="nav1">Home</a></li>
                <li><a href="/about" id="nav2">About Us</a></li>
                <li><a href="/services" id="nav3">Services</a></li>
                <li id="nav5">|</li>
                <li><a href="/sign-up" id="nav4">Contact Us</a></li>
            </ul>
          </nav>

          {% with messages = get_flashed_messages(with_categories=true)%}
          {% if messages %}
            {% for category, messsage in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message}}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
          {%endif%}
          {%endwith%}
        {% block content %}
        <!-- Home section -->
        <section id="hero-box">
            <div class="container-fluid">
                <h1>Welcome</h1>
                <h3>To Alx Waste Collection</h3>
            </div>
        </section>

  <!-- Add additional sections or content for your website as needed -->
        {% endblock content %}
        <!-- JavaScript for toggle button -->
        <script>
            const toggleBtn = document.querySelector('.toggle');
            const navLinks = document.querySelector('.nav-links');
            toggleBtn.addEventListener('click', () => {
                navLinks.classList.toggle('show');
            });
        </script>
    </body>
</html>