<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="land.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alx-Home</title>
</head>
<body>
    <div class="nav">   
        <div class="alx">
            <span class="col-md-1 logo">Alx</span><span class="waste">Waste Collection</span>
        </div>
        <div links>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">Contact</a></li>
                
            </ul>
        </div>
    </div>
    <div class="hero">
        
        <button class="pick">schedule pickup now</button>
    </div>

    <div class="opp">
        <h3 class="faint">DISCOVER OPPORTUNITIES</h3>
        <h4>Works Everywhere<h4>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, cumque labore harum nam sunt quia quasi illum adipisci aliquam eius ratione explicabo, quo autem? Eum assumenda suscipit cupiditate nihil praesentium.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, recusandae porro excepturi, sapiente mollitia deserunt quis ducimus nesciunt deleniti exercitationem id delectus sed, doloremque fugit quas. Vel veniam quibusdam est?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos hic alias delectus, excepturi repellat odio dolorem assumenda aspernatur. Doloribus quae ratione illum, reiciendis et enim? Repellendus illo sequi eos natus.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id aut ullam quos voluptatibus sapiente quo possimus dolores. Sed, possimus repellat, sint neque, perspiciatis pariatur obcaecati porro blanditiis similique assumenda molestias!Lorem
            <br>
            <button class="start">Get Started</button>
        </div>
        <br><br><br>
        <img src="waste1.jpg" alt="waste">
    <div class="about">
        
        <h2>About Us</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quibusdam sapiente quam delectus voluptatem? Hic magnam excepturi temporibus, doloribus nesciunt tenetur? Ea quam voluptates commodi numquam facere alias optio iure!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatem reprehenderit odio alias minima illo. Ipsam praesentium quas reiciendis, quis nulla beatae, quo similique doloribus nihil officia sunt perferendis sint!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quam praesentium neque nesciunt facilis perferendis nisi, est, placeat nihil consectetur temporibus officiis fugiat deleniti distinctio consequuntur possimus odit dolore a?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque saepe nulla rem molestiae nostrum ipsa asperiores dicta reiciendis a quas veritatis repudiandae, incidunt in, magni quia sed officia voluptatem quibusdam!

    </div>
    <hr>
    <div class="footer">
        <h2>contact us</h2>
        <div class="contact">
            
            <input type="username" placeholder="Name"><br>
            <input type="email" placeholder="Email"><br>
            <input class="msg" type="text" placeholder="message">
            <br>
            <button class="snd">send</button>
        </div>
    </div>
    <hr>   
    <div class="team">
        <h2>Team</h2>
        <div class="img">

        </div>
    </div>


    
    <div class="foot">
        <div class="subscribe">
            <h4>subscribe to our monthly news letter</h4>
            <input type="text" placeholder="email address">
            <button class="subs">Subscribe</button>
        </div>
        <div class="nums">
            <h3><span>Alx</span>-Waste Collections</h3>
            <h4 id="num">+23300000000</h4>
            <h4 id="num">+23300000000</h4>
            <h4 id="num">+23300000000</h4>
            <h4 id="num">Accra,Ghana</h4>
        </div>
    </div>
</body>
</html>