<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>alx-login</title>
</head>
<body>
    <div class="register">
        <h2>Login</h2>
    </div>
    <div class="login_frame">
        <h4>Welcome Back</h4>
        <h4 class="Thanks">Please Login to Continue</h4>
        <div class="entry">
            <input class="user" type="text" placeholder="Username"><br>
            
            <input class="pass" type="password" placeholder="Password"><br>
            
        <button class="reg">Login</button><br><br>
        
        <h5>Not having account? <a href="signup.html" ><span>Create new account</span></a></h5>

        </div>
    </div>

    
</body>
</html>