<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign-up.css') }}">
    <title>alx-signup</title>
</head>
<body>
    <div class="register">
        <h2>Register</h2>
    </div>
    <div class="lable">
        <img src="/img/sign.jpg" alt="lgo">
    </div>
    <form method="POST">
        <div class="login_frame">
            <h4>Please create your account</h4>
            <h4 class="Thanks">Thanks for choosing us</h4>
            <div class="entry">
                <input class="user" type="text" placeholder="Username" name="username"><br>
                <input class="email" type="email" placeholder="Email" name="email"><br>
                <input class="pass" type="password" placeholder="Password" name="password"><br>
                
            <button class="reg" type="submit">Register</button><br><br>
            
            <h5>Already have account <a href="/login"><span>LOGIN</span></a></h5>
    
            </div>
        </div>
    </form>   
</body>
</html>