/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
  
  /* Set background color, font, and color for body */
  body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    color: #333;
}
  
  /* Style the navigation bar */
  nav {
    
    padding: 1rem;
    background-color: transparent;
    font-weight: bold;
    
}
  
  nav ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    justify-content: center;
}
  
  nav ul li {
    margin-left: 2rem;
    font-size: 20px;
}
  
  nav ul li a {
    font-style: bold;
    color: #2e2b1d;
    text-decoration: none;
}

.brand  {
    color: #423e47;
    font-weight: bold;
    margin-right: 3rem;
    justify-items: left;
    font-size: 30px;
}

#nav5 {
  font-size: 30px;
}

#nav1:hover {
    color: #2e2b1d;
}

#nav2:hover {
    color: #0878f8;
    text-align: center;
}

#nav3:hover {
    color: #0878f8;
    border-bottom-width: 10px;
    border-radius: 30px;
    text-align: center;
}

#nav4:hover {
    color: #0878f8;
    text-align: center;
}

  /* Style the sections */
  section {
    padding: 10rem;
}
  
  section h1, section h2 {
    margin-bottom: 1rem;
}
  
  /* Style the home section */
  #hero-box {
    background: url(img/hero-background-travel.jpg);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #fff;

}

#hero-box h1{
    font-size: 46px;
    font-style: oblique;
}

#hero-box h3{
    font-size: 30px;
}

 