/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
  
  /* Set background color, font, and color for body */
  body {
    background: url(img/hero-background-travel.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
}
  
  /* Style the navigation bar */
  nav {
    background-color: #333;
}
  
  nav ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
}
  
  nav ul li {
    margin-right: 1rem;
}
  
  nav ul li a {
    margin-left: 20px;
    color: #fcf8f8;
    text-decoration: none;
}

.brand  {
    color: #530daf;
    font-weight: bold;
    margin-right: auto;
}

#nav1:hover {
    color: #0878f8;
    text-align: center;
}

#nav2:hover {
    color: #0878f8;
    text-align: center;
}

#nav3:hover {
    color: #0878f8;
    text-align: center;
}

#nav4:hover {
    color: #0878f8;
    text-align: center;
}

  /* Style the sections */
  section {
    padding: 2rem;
}
  
  section h1, section h2 {
    margin-bottom: 1rem;
}
  
  /* Style the home section */
  #home {
    
    text-align: center;
    color: #fff;
}
#home h1{
    font-size: 46px;
}

#home h3{
    font-size: 20px;
}

#home p{
    padding-top: 20px;
    font-size: 16px;
}
  /* Style the about us section */
  #about {
    background-color: #fff;
}
  
  /* Style the services section */
  #services {
    background-color: #f8f8f8;
}
  
  #services ul {
    margin-top: 1rem;
}
  
  #services ul li {
    margin-bottom: 0.5rem;
}
  
  /* Style the contact us section */
  #contact {
    background-color: #333;
    color: #fff;
    background-size: cover;
    text-align: center;
}
  
  /* Add any additional CSS styles as needed for your website */
  
  