* {
    background-color: rgb(28, 28, 61);
    padding: 0;
}
.navbar{
    background-color: transparent;
    position: relative;
    padding-top: 12px;
}
footer {
    text-align:center;
    position:fixed;
    bottom:0;
    height:60px;
    width:100%;
}